.home-page-wrapper{
    background-image: url('../../../../assets/bg-6.jpg'); /* Adjust the path based on your project structure */
    background-size: cover; /* or 'contain' based on your preference */
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height as needed */
    color: #fff;
  }

